# Dependencies
node_modules/
.pnp/
.pnp.js

# Build output
dist/
dist-ssr/

# macOS AppleDouble resource fork files
._*
.DS_Store

# Editor directories
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Env
.env
.env.local
